body {
  margin: 15px;
  background-color: hsl(36, 100%, 99%);
  font-family: "Inter", sans-serif;
}

/* Nav design */
.nav-bar {
  margin-bottom: 30px;
}
.icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-nav {
  display: none;
}

#side-menu {
  display: none;
  width: 55%;
}

.side-nav {
  background-color: hsl(36, 100%, 99%);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  padding: 15px;
}

#behind-nav {
  display: none;
  position: fixed;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.inner-side-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.close-slide {
  justify-self: end;
  width: 32px;
  height: 31px;
  align-self: end;
}

.open-nav-container {
  justify-self: center;
  margin: 60px 0px;
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 100%;
  justify-content: space-between;
  font-size: 1.2rem;
}

.open-nav-container a {
  text-decoration: none;
  color: hsl(240, 100%, 5%);
}

/* home page */
.main-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: column;
}
.stories-container {
  height: auto;
  width: 100%;
}

.big-story {
  width: 100%;
  height: auto;
}

.big-story-img {
  background-image: url("./assets/images/image-web-3-mobile.jpg");
  background-size: cover;
  height: 55vh;
  width: 100%;
  margin-bottom: 30px;
}

.big-story-text {
  color: hsl(240, 100%, 5%);
}
